body {
    background-color: rgb(0,20,40);
}

nav {
    display: flex;
    background-color: gray;
    justify-content: space-around;
    margin-left: 5%;
    margin-right: 5%;
}

.navbar {
    font-family: Helvetica;
    color: white;
    font-size: 20px;
    padding:15px;
    font-weight: bold;
}

.navbar:hover {
    opacity: 50%;
    background-color: black;
}

h1 {
    text-align: center;
    background-color: darkgrey;
    margin-left: 15%;
    margin-right: 15%;
    border: 5px solid black;
    border-radius: 20px;
    opacity: .8;
    border-color: black;
    margin-top: 5%;
    margin-bottom: 2%;
}

.description {
    display: flex;
    border: 5px solid black;
    padding: 10px;
    margin-left: 15%;
    margin-right: 15%;
    background:rgb(220,220,220);
    border-radius: 20px;
    margin-bottom: 10%;
}

p {
    font-size: 36px;
    font-family: 'Times New Roman';
    margin-left: 5px;
    margin-right: 5px;
}

img {
    border: 7px solid black;
    padding: 3px;
    border-radius: 10px;
    max-width: 400px;
}